@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
  height: 600px;
  border-radius: 5px;
 
  display: flex;
  place-items: center;
}

.leaflet-control-attribution {
  font-size: 10px;
}
